.img-container{
    display: flex;
    justify-content: center;
}
.centered-tagline{
    text-align: center;
    margin: 20px;
}
.styledpara{
    background-color: #1a1d20;
    color: white;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-areas:
'nb nb nb nb nb'
'hb hb hb hb hb'
'tb tb tb tb tb'
'am am am am am'
'fb fb fb fb fb'
;
}
#navbar{
    grid-area: nb;
}
#headerbar{
    grid-area: hb;
}
#tagbar{
    grid-area: tb;
}
#aboutbar{
    grid-area: am;
}
#footersection{
    grid-area: fb;
}
@media screen and (max-width: 600px) {
.grid-container{
    display: grid;
    grid-template-areas:
'nb nb nb nb nb'
'hb hb hb hb hb'
'tb tb tb tb tb'
'am am am am am'
'fb fb fb fb fb'
;
}
    }